.primary-button  {
  border-radius: 12px;
  background-color: #4DC274;
  color: #FFFFFF;
  font-family: Manrope;
  font-weight: 700;
  letter-spacing: 0%;
  margin: 20px;
  transition: background-color var(--transition-base), color var(--transition-base);
}

.desctop .primary-button,
.tablet .primary-button {
  font-size: 18px;
  line-height: 28px;
  padding: 16px 87px;
}

.mobile .primary-button {
  font-size: 14px;
  line-height: 24px;
  padding: 14px 87px;
}

.primary-button:hover,
.primary-button:focus {
  background-color: #38AE5F;
}

/* use class "accented" for cases, when button is on same green background */
.primary-button.accented {
  border: 1px solid #FFFFFF66;
}

.primary-button.accented:hover,
.primary-button.accented:focus {
  background-color: #FFFFFF;
  color: #4DC274;
}